@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'), local('Montserrat Regular'),
    url('/fonts/MontserratRegular.woff2') format('woff2'),
    url('/fonts/MontserratRegular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'), local('Montserrat Medium'),
    url('/fonts/MontserratMedium.woff2') format('woff2'),
    url('/fonts/MontserratMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'), local('Montserrat SemiBold'),
    url('/fonts/MontserratSemiBold.woff2') format('woff2'),
    url('/fonts/MontserratSemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'), local('Montserrat Bold'),
    url('/fonts/MontserratBold.woff2') format('woff2'),
    url('/fonts/MontserratBold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@layer base {
  body {
    @apply font-primary bg-gray-50 text-gray-950;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    isolation: isolate;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-3xl mx-auto px-4;
  }

  @keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

  .animation-swing {
    transform-origin: top center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: swing;
  }
}
